.generate-button {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button {
    background-color: #b9fdb6;
    font-size: 22px;
    border: none;
    height: 80px;
    width: 450px;
    &:hover {
      cursor: pointer;
    }
  }
}
