.generated-password {
  &__container {
    display: flex;
    color: white;
    height: 100px;
    max-width: 600px;
    width: 100%;
    background-color: #202020;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
  }

  &__password {
    margin-left: 20px;
    margin-right: 20px;
  }

  &__copy-password {
    margin-right: 20px;
    fill: white;
    height: 40px;
    &:hover {
      cursor: pointer;
    }
  }

  @media only screen and (max-width: 580px) {
    &__password {
      word-break: break-all;
    }
  }
}
